<p id="notice"><%= notice %></p>


<div class="field">
  <% @class_schedule.courses.each do |messages| %>
    <%= messages.name %> |
  <% end %>
</div>

<p>
  <strong>Attachment:</strong>
  <%= link_to "Скачать", @class_schedule.attachment_url %>
</p>

<%= link_to 'Edit', edit_class_schedule_path(@class_schedule) %> |
<%= link_to 'Back', class_schedules_path %>
