<a href="<%= department_computer_sciences_path %>" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.department.text1') %></strong>
</a>
<a href="<%= department_economy_and_entrepreneurship_path %>" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.department.text2') %></strong>
</a>
<a href="<%= department_management_and_social_humanitarian_path %>" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.department.text3') %></strong>
</a>