<h1 class="display-4 font-italic">
  Свідчення визнань у хронологічному порядку.
</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Дата</th>
    <th>Подія</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1993 р. (лютий).</td>
    <td>Член Асоціації вищих навчальних закладів приватної форми власності, яку з 1994 р. очолює ректор університету
      проф. Тимошенко І.І.
    </td>
  </tr>
  <tr>
    <td>1997 р. (вересень).</td>
    <td>Ректора університету включено до складу Державної акредитаційної комісії України.</td>
  </tr>
  <tr>
    <td>1997 р.</td>
    <td>Європейський університет став членом Української асоціації якості.</td>
  </tr>
  <tr>
    <td>1999 р. (жовтень).</td>
    <td>Лауреат Всеукраїнського рейтингу популярності та якості товарів і послуг &laquo;Золота Фортуна&raquo;.</td>
  </tr>
  <tr>
    <td>2000 р. (грудень).</td>
    <td>Ректора Європейського університету нагороджено орденом &laquo;За трудові досягнення&raquo; IV ступеня у рамках
      Міжнародного відкритого рейтингу популярності та якості товарів і послуг &laquo;Золота Фортуна&raquo;.
    </td>
  </tr>
  <tr>
    <td>2001 р. (березень).</td>
    <td>Лауреат 6-го Українського національного конкурсу з якості (регіональний рівень).</td>
  </tr>
  <tr>
    <td>2001 р. (червень).</td>
    <td>Лауреат номінації &laquo;Кращий навчальний заклад нового покоління&raquo;.</td>
  </tr>
  <tr>
    <td>2001 р. (жовтень).</td>
    <td>Учасник 6-го Українського національного конкурсу з якості (республіканський рівень).</td>
  </tr>
  <tr>
    <td>2001 р. (грудень).</td>
    <td>Лауреат номінації &laquo;100 найкращих підприємств України&raquo;. Ректор нагороджується медаллю &laquo;Лаври
      Слави&raquo;.
    </td>
  </tr>
  <tr>
    <td>2002 р. (серпень).</td>
    <td>Лауреат Міжнародного Академічного Рейтингу популярності та якості товарів і послуг &laquo;Золота Фортуна&raquo;.
      Нагороджений Золотою медаллю &laquo;Незалежність України&raquo;.
    </td>
  </tr>
  <tr>
    <td>2002 р. (листопад).</td>
    <td>Фіналіст 7-го Українського національного конкурсу з якості в номінації &laquo;Великі підприємства&raquo;.</td>
  </tr>
  <tr>
    <td>2002 р. (листопад).</td>
    <td>Лауреат конкурсу &laquo;Громадське визнання провідних підприємств&raquo; Святошинського району м. Києва.</td>
  </tr>
  <tr>
    <td>2002 р. (грудень).</td>
    <td>Переможець Міжнародного конкурсу &laquo;Золота торгова марка&raquo;.</td>
  </tr>
  <tr>
    <td>2002 р. (грудень).</td>
    <td>Член Клубу лідерів якості України.</td>
  </tr>
  <tr>
    <td>2003 р. (січень).</td>
    <td>Член Міжнародної асоціації університетів.</td>
  </tr>
  <tr>
    <td>2004 р. (листопад).</td>
    <td>Лауреат IX Українського національного конкурсу з якості, нагороджений сертифікатом &laquo;Визнання досконалості
      в Україні&raquo;.
    </td>
  </tr>
  <tr>
    <td>2005 р. (листопад).</td>
    <td>Переможець X Українського Національного конкурсу з якості, нагороджений сертифікатом &laquo;Визнання
      досконалості в Європі&raquo;.
    </td>
  </tr>
  <tr>
    <td>2006 р. (квітень).</td>
    <td>Переможець Всеукраїнського конкурсу &laquo;Кращий роботодавець року&raquo;.</td>
  </tr>
  <tr>
    <td>2006 р. (серпень).</td>
    <td>Переможець Всеукраїнського конкурсу &laquo;Кращий вітчизняний товар року&raquo; в номінації &laquo;Освіта&raquo;.</td>
  </tr>
  <tr>
    <td>2007 р. (листопад)</td>
    <td>Європейський університет нагороджений дипломом за перемогу у спеціальній номінації &laquo;Лідер рейтингу серед
      вищих навчальних закладів району&raquo; Лідерського рейтингу серед студентської молоді та Вузів Святошинського
      району м. Києва
    </td>
  </tr>
  <tr>
    <td>2007 р. (грудень)</td>
    <td>Європейський університет - Лауреат Всеукраїнської програми &laquo;Роботодавці України - 2007&raquo;</td>
  </tr>
  <tr>
    <td>2008 р. (квітень)</td>
    <td>Європейський університет нагороджений Міністерством освіти і науки України дипломом за профорієнтаційну роботу
      серед молоді.
    </td>
  </tr>
  <tr>
    <td>2008 р. (вересень)</td>
    <td>Міжнародна корпорація громадських організацій Європейська Асамблея Бізнесу відзначила Європейський університет
      міжнародною нагородою &laquo;Європейська якість&raquo;
    </td>
  </tr>
  <tr>
    <td>2008 р. (вересень)</td>
    <td>Ректору Європейського університету Тимошенку Івану Івановичу присвоєно звання Почесний професор Міжнародного
      університету (Відень, Австрія)
    </td>
  </tr>
  <tr>
    <td>2008 р. (вересень)</td>
    <td>Європейський університет отримав від Українського національного комітету Міжнародної торгової палати Міжнародний
      сертифікат партнерської надійності.
    </td>
  </tr>
  <tr>
    <td>2008 р. (грудень)</td>
    <td>Редакція журналу &laquo;Економіка і управління&raquo; Європейського університету нагороджена дипломом другого
      ступеня і срібною медаллю Всеукраїнського конкурсу &laquo;Вища школа - 2008&raquo; в номінації &ndash; &laquo;науково-дослідна
      робота&raquo;
    </td>
  </tr>
  <tr>
    <td>2009 р. (квітень)</td>
    <td>Європейський університет нагороджений Міністерством освіти і науки України дипломом за профорієнтаційну роботу
      серед молоді.
    </td>
  </tr>
  <tr>
    <td>2009 р. (вересень)</td>
    <td>Європейський університет нагороджений Міністерством освіти і науки України дипломом за профорієнтаційну роботу
      серед молоді.
    </td>
  </tr>
  <tr>
    <td>2009 р.</td>
    <td>Європейський університет нагороджений дипломом за вагомий внесок у розвиток іміджу освіти і науки України у
      рамках Громадської акції &laquo;Флагмани освіти&raquo;.
    </td>
  </tr>
  <tr>
    <td>2010 р.</td>
    <td>Диплом за вагомий внесок у модернізацію національної системи освіти</td>
  </tr>
  <tr>
    <td>2010 р.</td>
    <td>Диплом за вагомий внесок у модернізацію національної системи освіти</td>
  </tr>
  <tr>
    <td>2011 р. (жовтень)</td>
    <td>Європейський університет нагороджений дипломом виставки &laquo;Інноватика в сучасній освіті&raquo; за активне
      впровадження у навчальний процес освітніх інновацій
    </td>
  </tr>
  <tr>
    <td>2011 р. (листопад)</td>
    <td>Європейський університет нагороджений дипломом за вагомий внесок у розвиток міжнародної освіти</td>
  </tr>
  <tr>
    <td>2012 р. (березень)</td>
    <td>Диплом за профорієнтаційну роботу серед молоді.</td>
  </tr>
  <tr>
    <td>2013 р. (вересень)</td>
    <td>Медаль &laquo;За визначний внесок у поширення ідеї єдності Європи&raquo;</td>
  </tr>
  <tr>
    <td>2014 р. (березень)</td>
    <td>Диплом 5-ї міжнародної виставки &laquo;Сучасні заклади освіти -2014&raquo;</td>
  </tr>
  <tr>
    <td>2014 р. (квітень)</td>
    <td>Подяка від Африканської ради в Україні за високу підготовку кадрів для країн Африки</td>
  </tr>
  <tr>
    <td>2015 р. (жовтень)</td>
    <td>Подяка від Національної академії педагогічних наук України та компанії &laquo;Виставковий світ&raquo;</td>
  </tr>
  <tr>
    <td style="text-align:center">
      <div class="tz-gallery">
        <a class="lightbox" href="<%= image_url('untitled-fr13.jpg') %>">
          <img src="<%= image_url('untitled-fr13.jpg') %>" style="height:118px; width:83px"/>
        </a>
      </div>
    </td>
    <td>Нагороджується від Українського союзу промисловців і підприємств за значний внесок у розвиток підприємства
      України ,високий професіоналізм та з нагоди Дня підприємця.2016 рік .
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      <div class="tz-gallery">
        <a class="lightbox" href="<%= image_url('untitled-fr14-1.jpg') %>">
          <img src="<%= image_url('untitled-fr14-1.jpg') %>" style="height:118px; width:83px"/>
        </a>
      </div>
    </td>
    <td>Європейський університет нагороджується за активну профорєнтаційну роботу серед молоді.2016 рік .</td>
  </tr>
  <tr>
    <td style="text-align:center">
      <div class="tz-gallery">
        <a class="lightbox" href="<%= image_url('untitled-fr15.jpg') %>">
          <img src="<%= image_url('untitled-fr15.jpg') %>" style="height:118px; width:81px"/>
        </a>
      </div>
    </td>
    <td>Приватний вищий навчальний заклад &quot;Європейський університет &quot; за активну інноваційну діяльність у
      підвищенні якості навчально -виховного процесу 2017 рік .
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      <div class="tz-gallery">
        <a class="lightbox" href="<%= image_url('untitled-fr16.jpg') %>">
          <img src="<%= image_url('untitled-fr16.jpg') %>" style="height:118px; width:81px"/>
        </a>
      </div>
    </td>
    <td>Приватний вищий навчальний заклад &quot;Європейський університет &quot; номінаціїя &quot;Застосування сучасних
      інформаційно-комунікаційних технологій для формування інформаційно-цифрової компетентності учасників освітнього
      процесу&quot; 2017 рік.
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      <div class="tz-gallery">
        <a class="lightbox" href="<%= image_url('untitled-fr17.jpg') %>">
          <img src="<%= image_url('untitled-fr17.jpg') %>" style="height:118px; width:82px"/>
        </a>
      </div>
    </td>
    <td>Приватний вищий навчальний заклад &quot;Європейський університет &quot; номінація &quot;Розробка та впровадження
      інноваційних проектів, тренінгових технологій, програм і рішень для осучаснення навчального процесу та підвищення
      рівня знань молоді.&quot; 2017рік .
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      <div class="tz-gallery">
        <a class="lightbox" href="<%= image_url('untitled-fr18.jpg') %>">
          <img src="<%= image_url('untitled-fr18.jpg') %>" style="height:118px; width:81px"/>
        </a>
      </div>
    </td>
    <td>Приватний вищий навчальний заклад &quot;Європейський університет&quot; номінація &quot;Упровадження сучасних
      засобів навчання, проектів програм і технологій для вдосконалення та підвищення ефективності освітнього процессу&quot;
      2018 рік.
    </td>
  </tr>
  </tbody>
</table>

<script>
    baguetteBox.run('.tz-gallery');
</script>