<a href="<%= class_schedules_path %>" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.studentu.text4') %></strong>
</a>
<a href="http://tests.e-u.in.ua/" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.studentu.text1') %></strong>
</a>
<a href="http://test.e-u.in.ua/" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.studentu.text2') %></strong>
</a>
<a href="http://eumoodle.com/moodle/" class="list-group-item list-group-item-primary">
  <strong><%= I18n.t('view.pages.studentu.text3') %></strong>
</a>